/* hkMessage */

.message-container {
  position: fixed;
  z-index: 5001;
  top: 5%;
  width: 100%;
}

.message {
  width: 95%;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .message {
    width: 50%;
  }
}

/* hkToggleSwitch */

.btn-down {
  background-color: #ebebeb;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* hkSlider */

.progress .progress-bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/* hkSpinner */

.spinner-container {
  z-index: 6000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.spinner-frame {
  top: 25%;

  position: relative;
  color: #fff;
  padding: 3px;
  margin: 0 auto;
  height: 28px;
  width: 100px;
}

.spinner {
  float: left;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  background-color: #428bca;

  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}