body {
  padding-top: 20px;
  padding-bottom: 20px;
}

textarea {
  resize: none;
}

.clickable {
  cursor: pointer;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.col-md-4 {
  padding-left: 5px;
  padding-right: 5px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.content {
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .header,
  .content,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    margin-bottom: 30px;
  }
}
