<div class="modal-header">
  <h3 ng-show="editMode">Edit action</h3>
  <h3 ng-hide="editMode">Add action</h3>
</div>

<div class="modal-body">
  <div class="form-group">
    <label for="type">Type</label>
    <select id="type" class="form-control" ng-model="action.type" ng-disabled="editMode">
      <option value="changechannelvalue" ng-bind="formatType('changechannelvalue')"></option>
      <option value="triggeractiongroup" ng-bind="formatType('triggeractiongroup')"></option>
      <option value="sendmail" ng-bind="formatType('sendmail')"></option>
    </select>
  </div>

  <!-- change channel value action -->
  <div ng-show="action.type == 'changechannelvalue'">
    <div class="form-group">
      <label for="device">Device</label>
      <select id="device" class="form-control" ng-options="device.deviceId as device.name for device in devices" ng-model="action.deviceId"></select>
    </div>
    <div class="form-group">
      <label for="channel">Channel</label>
      <select id="channel" class="form-control" ng-options="channel.id as channel.name for channel in getChannels(action.deviceId)" ng-model="action.channel">
      </select>
    </div>
    <div class="form-group">
      <label for="value">Value</label>
      <input type="number" ng-model="action.value" class="form-control" id="value" placeholder="Value">
    </div>
  </div>

  <!-- trigger action group action -->
  <div ng-show="action.type == 'triggeractiongroup'">
    <div class="form-group">
      <label for="actionGroup">Action Group</label>
      <select id="actionGroup" class="form-control" ng-options="actionGroup.actionGroupId as actionGroup.name for actionGroup in actionGroups" ng-model="action.actionGroupId">
      </select>
    </div>
  </div>

  <!-- send mail action -->
  <div ng-show="action.type == 'sendmail'">
    <div class="form-group">
      <label for="recipients">Recipients</label>
      <input type="text" ng-model="action.recipients" class="form-control" id="recipients" placeholder="Recipients">
    </div>
    <div class="form-group">
      <label for="subject">Subject</label>
      <input type="text" ng-model="action.subject" class="form-control" id="subject" placeholder="Subject">
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <textarea id="text" ng-model="action.text" placeholder="Text" class="form-control" rows="7"></textarea>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-click="delete()" ng-show="editMode">Delete</button>
  <button class="btn btn-primary" ng-click="save()">Save</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>