<div class="row sub-menu">
  <div class="col-md-12">
    <div class="pull-right">
      <button class="btn btn-success btn-xs" ng-click="addDevice()">Add device</button>
    </div>
  </div>
</div>

<div class="row content">
  <div class="col-md-4" ng-repeat="device in devices">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-left" ng-bind="device.name"></div>
        <div class="pull-right">
          <div class="clickable" ng-click="editDevice($index, device)">
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="fixedheight panel-body">
        <!-- switch -->
        <div ng-show="device.type == 'switch'">
          <hk-toggle-switch toggle-change="setChannel(device, 0)" ng-model="device.channelValues[0].lastValue"></hk-toggle-switch>
        </div>
        <!-- dimmer -->
        <div ng-show="device.type == 'dimmer'">
          <div class="pull-left fixedwidth">
            <hk-toggle-switch toggle-change="setChannel(device, 0)" ng-model="device.channelValues[0].lastValue"></hk-toggle-switch>
          </div>
          <div class="top-padded">
            <hk-slider slider-change="setChannel(device, 1)" ng-model="device.channelValues[1].lastValue"></hk-slider>
          </div>
        </div>
        <!-- thermometer -->
        <div ng-show="device.type == 'thermometer'">
          <div class="thermometer">
            {{ device.channelValues[0].lastValue }} °C
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
