<div class="row content">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Angular
      </div>
      <div class="panel-body">
        AngularJS is a toolset for building the framework most suited to your application development.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Angular
      </div>
      <div class="panel-body">
        AngularJS is a toolset for building the framework most suited to your application development.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Hejsan
      </div>
      <div class="panel-body">
        Spectacular Test Runner for JavaScript.
      </div>
    </div>
  </div>
</div>
