<div class="row content">
  <div class="col-md-4" ng-repeat="device in devices">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-left" ng-bind="device.name"></div>
        <div class="pull-right">
          <div class="clickable" ng-click="editDevice(device)">
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
</div>
